<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBSkUVI4gCvxjm0LBhiOH85xDVNSw_Z0o</string>
	<key>GCM_SENDER_ID</key>
	<string>149089013008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLoginoutAuth</string>
	<key>PROJECT_ID</key>
	<string>fir-login-out</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-out.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149089013008:ios:fd0b9f1e1df1ac6fe56995</string>
</dict>
</plist>